.search {
  background-image: url("../../images/Search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px;
  text-align: center;
  box-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: #68676E;
  margin-left: 10px;
}

.AvatarMenu {
  gap: 20px;
  display: flex;
  align-items: center;
}

.Section_Content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Explore {
  background-image: url("../../images/Discover.png");
  width: 400px;
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  background-position: 10px center;
  margin-top: 20px;
  gap: 10px;

  .introText {
    font-size: 18px;
    font-weight: 500;
  }

  .Preamble {
    font-size: 14px;
    font-weight: 200;
  }

  .ExplorButtons {
    display: flex;
    flex-direction: row;

    .ExploreButton1 {
      padding: 10px;
      margin-right: 5px;
      color: #fff;
      background-color: #6F4FF2;
      border: none;
      border-radius: 5px;
      width: 100px;
    }

    .ExploreButton2 {
      padding: 10px;
      margin-left: 5px;
      color: #fff;
      background-color: #DC3546;
      border: none;
      border-radius: 5px;
      width: 100px;
    }
  }
}

.bids {
  color: #000;
  display: flex;
  background-color: #fff;
  margin-left: auto;
  padding: 20px;
  gap: 10px;
  flex: 1;

  .bid_Image {
    background-image: url("../../images/NFT.png");
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-position: 10px center;
    /* margin-top: 20px; */
  }

  .bid_postContent {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .ProfileName {
    margin-left: 4px;
  }

  .bidder_Name {
    font-weight: 600;
    padding-left: 10px;
    font-size: 16px;
  }

  .bidder_time {
    padding-left: 10px;
    font-size: 14px;
  }

  .AllBids {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .bidder_timeFigure {
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
  }

  .orderButton {
    padding: 10px;
    margin-right: 5px;
    margin-left: 10px;
    color: #fff;
    background-color: #6F4FF2;
    border: none;
    border-radius: 5px;
    width: 100px;
  }

  .History {
    padding: 10px;
    margin-left: 5px;
    color: #fff;
    background-color: #DC3546;
    border: none;
    border-radius: 5px;
    width: 100px;
  }

}