.main {
    display: flex;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .sidebar {
    border: 1px solid #ccc;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
  }
  
  
  .main_content {
    flex: 30;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .sidebar_Content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
  }
  
  .Logo {
    margin-bottom: 20px;
  }

  .topbarMainContent {
    display: flex;
    width: 100%;
  }
  
  .topBar {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .search {
    background-image: url("../images/Search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px;
    text-align: center; 
    box-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: #68676E;
    margin-left: 10px;
  }
  
  .AvatarMenu {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  
  .Section_Content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    margin-left: 10px;
  }
  
  
  .Topic_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .profileDisplay {
      font-weight: 500;
    }

    .profile_Content {
      display: flex;
      gap: 10px;
      color: #6C7AA0;

      .profileOptions{
        padding: 4px;
        border-radius: 8px;
      }
    }
  }
  
  .AllProfile {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

  .profile_section{
    flex: 1;
    display: grid;
    gap: 4px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

  .welcome {
    font-weight: 600;
    font-size: 18px;
  }

  .welcome_preamble {
    font-size: 14px;
    font-weight: 200;
  }

  .editButton {
    margin-top: 30px;
    border: none;
    background-color: #6C7AA0;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
  }
}

.followingWord {
  font-weight: 500;
  font-size: 16px;
}

.followers_section {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    /* width: 100%; */
    border-radius: 5px;
    gap: 10px;
    margin-right: 10px;
    
    .followers {
        margin-bottom: 10px;
        display: flex;
        gap: 30px;
    }
    .followers_description{
        gap: 5px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .unfollowButton {
        border: none;
        background-color: #DC3546;
        /* padding: 10px; */
        border-radius: 5px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        width: 100%;

    }
}
}

.HistoryOrder {
  margin-top: 10px;
  font-weight: 500;
}

.PlaceOrder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  /* width: 100%; */

  .OrderContent {
    background-color: #fff;
    width: 100%;
    height: auto;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    
  .loveImg{
    display: flex;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: auto;
  }

    .OrderContentImage {
      border-radius: 10px;
      max-height: auto;
      width: 100%;
      object-fit: cover;
      background-position: 10px center;
      margin-bottom: 10px;
    }

    .sellersName {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .TimeDelivered {
      font-size: 16px;
      margin-bottom: 5px;
    }

    .Delivery_timeFigure {
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .OrderNowButton {
      padding: 10px;
      color: #fff;
      background-color: #6F4FF2;
      border: none;
      border-radius: 5px;
      width: 100%;
      margin-top: 10px;
      cursor: pointer;

    }
  }
}