  .Topic_options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
  
    .trendingNow {
      font-weight: 500;
    }
  
    .trending_Content {
      display: flex;
      gap: 10px;
  
      .AllOptions {
        background-color: #6F4FF2;
        padding: 4px;
        border-radius: 8px;
        color: #fff;
        width: 40px;
        text-align: center;
        cursor: pointer;
      }
  
      .OtherOptions {
        padding: 4px;
        border-radius: 8px;
        cursor: pointer;

      }
    }
  }
  