.main {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    border: 1px solid #ccc;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .main_content {
    flex: 30;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar_Content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
  }
  
  .Logo {
    margin-bottom: 20px;
  }
  
  .topBar {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .search {
    background-image: url("../images/Search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px;
    text-align: center; 
    box-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: #68676E;
    margin-left: 10px;
  }
  
  .AvatarMenu {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  
  .Section_Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .Topic_options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
  
    .profileDisplay {
      font-weight: 500;
    }

    .profile_Content {
      display: flex;
      gap: 10px;
      color: #6C7AA0;

      .profileOptions{
        padding: 4px;
        border-radius: 8px;
      }
    }
  }
  
  .AllProfile {
    display: flex;
    justify-content: space-between;

  .profile_section{
    display: grid;
    gap: 4px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

  .welcome {
    font-weight: 600;
    font-size: 18px;
  }

  .welcome_preamble {
    font-size: 14px;
    font-weight: 200;
  }

  .editButton {
    margin: 30px;
    border: none;
    background-color: #6C7AA0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
  }
}

.followers_section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    gap: 10px;
    margin-right: 100px;
    
    .followers {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .followers_description{
        gap: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .unfollowButton {
        border: none;
        background-color: #DC3546;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: 400;

    }
}
}

.settingsOptions {
  display: flex;
  gap: 19px;

}


.editProfile {
  
  .editProfileNames {
    display: flex;
    gap: 20px;
    width: 600px;
  }

  
  .editProfileInputArea {
    width: 600px;
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .editProfileInput {
    border: 1px solid #858585;
    padding: 8px;
    background: none;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    display: flex;
  }
}
.editProfileText {
  color: #6C7AA0;
  display: flex;
  justify-content: space-between;
}

.saveChangesButton {
  display: flex;
  gap: 20px;
  width: 600px;
  padding: 20px 20px 20px 0px;
}

.cancelChanges {
  padding: 10px;
  border: 2px solid #858585;
  background: none;
  width: 600px;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.save {
  padding: 10px;
  display: flex;
  flex: 1;
  color: #fff;
  justify-content: center;
  width: 600px;
  border: none;
  border-radius: 5px;
  background-color: #6C7AA0;
}

.checkboxInput {
  margin-top: 10px;
  display: flex;
}
.checkboxArea {
  display: flex;
  /* align-items: center; */
  /* gap: 20px; */
  flex-direction: column;
  /* justify-content: center; */
}

.checkbox {
  /* display: none; */
}

.toggleSwitchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: #6C7AA0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #232425;
}

input:focus + .slider {
  box-shadow: 0 0 1px #232425;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}