.main {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  
  .mainContent {
    flex: 30;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .topbarMainContent {
    display: flex;
    width: 100%;
  }
  
  .topBar {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .search {
    background-image: url("/images/Search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px;
    text-align: center; 
    box-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: #68676E;
    margin-left: 10px;
  }
  
  .avatarMenu {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  
  .sectionContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  
  .topicOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .profileDisplay {
      font-weight: 500;
    }
    
    .profileContent {
      display: flex;
      gap: 10px;
      color: #6C7AA0;
      
      .profileOptions{
        padding: 4px;
        border-radius: 8px;
      }
    }
  }
  
  .AllProfile {
    /* margin-left: 10px; */
    display: flex;
    justify-content: space-between;
    

  .profile_section{
    display: grid;
    gap: 4px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

  .welcome {
    font-weight: 600;
    font-size: 1.125rem;
  }

  .welcome_preamble {
    font-size: 0.875rem;
    font-weight: 200;
  }

  .editButton {
    margin: 30px;
    border: none;
    background-color: #6C7AA0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
  }
}

.followers_section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    gap: 10px;
    margin-right: 100px;
    
    .followers {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .followers_description{
        gap: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .unfollowButton {
        border: none;
        background-color: #DC3546;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: 400;

    }
}
}

.settingsOptions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}


.editProfile {
  /* padding: 10px; */
  .editProfileNames {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  
  .editProfileInputArea {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #000;
  }

  .editProfileInput {
    border: 1px solid #858585;
    padding: 8px 40px 8px 8px; /* Adjust padding to make space for the toggle button */
    background: none;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
}
.editProfileText {
  color: #6C7AA0;
  display: flex;
  justify-content: space-between;
}

.saveChangesButton {
  display: flex;
  gap: 20px;
  margin: 0;
  width: 100%;
  padding: 20px 0 0 0px;
}

.cancelChanges {
  padding: 10px;
  border: 2px solid #858585;
  background: none;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.save {
  padding: 10px;
  display: flex;
  flex: 1;
  color: #fff;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #6C7AA0;
}

.checkboxInput {
  margin-top: 10px;
  display: flex;
}
.checkboxArea {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  justify-content: center;
  flex-direction: column;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: #6C7AA0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #232425;
}

input:focus + .slider {
  box-shadow: 0 0 1px #232425;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.active {
  background-color: #e0e0e0;
}

.profileEdit .editProfileInputArea, .profileEdit .saveChangesButton {
  display: block;
}


.editProfileText {
  cursor: pointer;
}

.editProfileText:hover {
  text-decoration: underline;
}


.notificationBlockWord {
  font-weight: 500;
}

.pfpSection {
  margin-top: 10px;
  align-items: center;
}

.changePfp {
  height: 160px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid #68676E;
  border-radius: 50%;
  content: "";
  position: relative;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  justify-content: center;
  border: 2px solid #ddd;
}

.Pfp {
  border-radius: 50%;
  height: 59px;
  width: 100%;
  object-fit: cover;
}

/* .EditImageBox {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 100px 50px; 
  border-bottom-right-radius: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.editDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.editSecurityDetails {
  display: flex;
  justify-content: space-between;
}

.changePassword {
  color: #0f3aae;
  font-weight: 600;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.togglePass {
  position: absolute;
  top: 60%;
  right: 10px; /* Adjust as necessary */
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

